name: barbershop_app
description: Uma nova aplicação Flutter.

publish_to: 'none' # Remova esta linha se publicar o app na pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.19.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  material_design_icons_flutter: ^5.0.0  # Adicione esta linha

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/imagem.jpeg  # Adicione o caminho correto da sua imagem de fundo aqui
